body{
    padding: 0;
    margin: 0;
    background-color: lightgray;
    display: grid;
    place-content: center;
    height: 100vh;
}
#app {
    width: 375px;
    height: 667px;
    background-color: white;
    position: relative;
    overflow: scroll;
}
#label-container, #likhetsProsent{
    border: solid 1px gray;
    box-sizing: border-box;
    border-radius: 25px;
    width: 350px;
    height: 100%;
    padding: 8px;
    font-size: 1.2rem;
}

#likhetsProsent{
    border: solid 1px gray;
    box-sizing: border-box;
    border-radius: 25px;
    word-wrap: break-word;
    max-width: 350px;
    padding-left: 11px;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 3px;
}

#likhetsProsent{
    text-align: center;
}


#mainFlex{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: auto;
    grid-gap: 7px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #24BF27;
    text-transform: uppercase;
}
header{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.spacer {
    width: 100%;
}
.navbar{
    height: 0px;
    top: 0;
    overflow: visible;
    display: flex;
    width: 100%;
}

#flex {
    display: block;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.logo{
    max-block-size: 120%;
    width: 200px;
}

.menu{
    width: 100%;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    height: 350px;
    margin-left: 200px;
    padding-right: 30px;
    z-index: 999;
    border-radius: 20px;
    padding-left: 8px;
}

.btn{
    position: absolute;
    right: 20px;
    top: 30px;
    display: block;
    cursor: pointer;
}

.btn span{
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}
p{
    padding: 20px;
    font-size: 20px;
}
#hoved {
display: none;
}

a.active{
    text-decoration: underline;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    border: 1px darkgray solid;
    border-radius: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #menyboks-sprk {
      display: grid;
      grid-template-columns: 1fr 7fr;
      grid-gap: 3px;
  }

  #menyboks-farge{
      display: grid;
      grid-template-columns: 1fr 4fr 1fr 4fr;
      grid-gap: 3px;
  }

  h2 {
      font-size: 20px;
      line-height: 40px;
  }

  #hovedlogo{
    display: block;
}
#wrapper{
    padding: 20px;
}

.show{
    max-height: 500px;
    border: 1px #707070 solid;
  }
  section#flex>img#hovedlogo{
    height: 100%;
  }