body{
    padding: 0;
    margin: 0;
}
#label-container{
    border: solid 1px gray;
    width: 500px;
    height: 100%;
    margin-left: 15px;
    padding-left: 5px;
    font-size: 1.2rem;
    display: flex;
    padding-right: 10px;
}
#mainFlex{
    display: flex;
    justify-content: space-evenly;
}
h1 {
    text-align: center;
}
#removeBtn{
    height: 11px;
    width: 11px;
    background-color: rgb(95, 95, 95);
    right: 10px;
}